nav {
    height: 70px;
    background-color: #001632;
    color: white;
}

main {
    height: calc(100vh - 180px);
}

#pass-generata {
    height: calc(100vh - 180px);
}

.my-container {
    width: 90%;
    margin: 0 auto;
}

h3 {
    padding: 150px;
    padding-bottom: 0;
}

.wrapper {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    background-color: #001632;
    border-radius: 20px;
}

h1 {
    color: #7f8a98;
}

.form-container {
    background-color: white;
    color: black;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

.input-container {
    margin-left: 200px;
}

.check-container {
    margin-left: 60px;
}